


.customNDtext{
   font-size: 15px;
   color: #1b6d85;
}

.intro_button{
   border: none;
   font-size:14px;
   border-radius: 10px;
   margin:15px;
}

#category-chart{
   background: #ffffff;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}



.dc-select-menu {
   background: #ccc5aa;
   width: 100%;
   border: none;
   border-radius: 10px;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: left;
   padding-top: 4px;
   padding-bottom: 0px;

}

.reset{
   font-size: 12px;

}

