{% extends "main_layout.html" %}
{% block content %}

    <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="panel panel-info"><span class="page_title hidden-xs">{{ the_title }}</span>
                 <div class="panel-heading" data-step="1" data-intro="This page will show all available data from January to current month of year." style="font-weight: normal" data-position="bottom">
                   <h3 class="panel-title"><strong> {{ the_first_month }} {{ the_data_year }} </strong> to <strong> {{ the_last_month }} {{ the_data_year }}</strong> <span class="hidden-xs">|</span> <br class="visible-xs">Time Spent per Deal/Project </h3>
                 </div>
                 <div class="panel-body">

                     <div class="container">
                        <div class="row">

                            <div class="col-xs-12 col-sm-2">
                                <!--Nested rows within a column-->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="sidebar-content">

                                            <!-- menu select -->

                                               <div class="chart-wrapper" data-step="2" data-intro="Selecting a Team will filter the Deal/Project List to show items for that team only.<br>Initially the list is set to 'Select All'" style="font-weight: normal" data-position="right">

                                                   <div class="chart-title">
                                                       Team
                                                   </div>
                                                   <div class="chart-stage">
                                                       <div id="menu-select-team2"></div>
                                                   </div>

                                               </div>



                                           <!-- menu select -->



                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="sidebar-content">

                                            <!-- menu select -->

                                               <div class="chart-wrapper" data-step="3" data-intro="These are the available months of data. Selecting a month will filter the chart to that month.<br>Use SHIFT key to select multiple months.<br>Initially the list is set to 'Select All'" style="font-weight: normal" data-position="right">
                                                   <div class="chart-title">
                                                       Month
                                                   </div>
                                                   <div class="chart-stage">
                                                       <div id="menu-select-month"></div>
                                                   </div>
                                               </div>

                                           <!-- menu select -->

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-2">
                                <!--Nested rows within a column-->

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="sidebar-content">

                                            <!-- Metric 2 -->
                                             <!--  <div class="col-sm-3"> -->
                                                  <div class="chart-wrapper" data-step="4" data-intro="This is the sum of all times logged by the Team Members for the Deals/Projects in your current filter selection, in hours/mins" style="font-weight: normal" data-position="right">
                                                       <div class="chart-title">
                                                           Time Spent
                                                       </div>
                                                       <div id="total-hours-spent-nd2" class="customNDtext">&nbsp&nbsp&nbsp</div>
                                                      <div id="total-mins-spent-nd2" class="customNDtext"> &nbsphrs </div> <span class="customNDtext">&nbspmins</span>

                                                    </div>
                                            <!--       </div> -->
                                            <!-- Metric 2 -->



                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="sidebar-content">

                                            <!-- Metric 3 -->

                                                  <div class="chart-wrapper" data-step="5" data-intro="This displays the times logged for your current filter selection, in days" style="font-weight: normal" data-position="right">
                                                       <div class="chart-title">
                                                           Time in Days
                                                       </div>
                                                       <div id="total-days-spent-nd2" class="customNDtext">&nbsp&nbsp&nbsp</div><span class="customNDtext">&nbspdays</span>


                                                    </div>

                                            <!-- Metric 3 -->

                                        </div>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-xs-12">
                                        <div class="sidebar-content">

                                            <!-- Category Pie EMEA-->

                                       <div class="chart-wrapper" data-step="6" data-intro="The Pie Chart shows the spread of the Deals/Projects across the main Categories.<br> Click on a pie section or a legend item to filter.<br> Use the 'Reset' link to return to selecting all." style="font-weight: normal" data-position="right">
                                           <div class="chart-title">
                                               Category Breakdown
                                           </div>
                                           <div class="chart-stage hidden-xs">
                                               <div id="category-chart">
                                               </div>
                                               &nbsp &nbsp<a class='reset'
                                                  href='javascript:categoryChart.filterAll();dc.redrawAll();' style='visibility: visible;'  >Reset to all</a>
                                            </div>
                                           <div class="chart-stage hidden-lg hidden-md hidden-sm">
                                               <div id="category-chart_xs">
                                               </div>
                                               &nbsp &nbsp<a class='reset'
                                                  href='javascript:categoryChart_xs.filterAll();dc.redrawAll();' style='visibility: visible;'  >Reset to all</a>
                                            </div>

                                       </div>

                                    <!-- Category Pie -->

                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-xs-12 col-sm-5">
                                <div class="main-content">

                                     <!-- Category Pie EMEA-->

                                       <div class="chart-wrapper hidden-xs" data-step="7" data-intro="This is the full list of the Team's Deals and Projects. <br> Click on a bar to filter by that Deal (or SHIFT-click to select multiple Deals).<br> Use the 'Reset' link to return to selecting all." style="font-weight: normal" data-position="right">
                                           <div class="chart-title">
                                               Deal/Project Breakdown
                                           </div><br>
                                                    &nbsp &nbsp &nbsp &nbsp &nbsp<a class='reset'
                                                  href='javascript:dealChart.filterAll();dc.redrawAll();' style='visibility: visible;'  >Reset to select all Deals</a>
                                           <div class="chart-stage">

                                               <div id="deal-chart"></div>
                                                    &nbsp &nbsp &nbsp &nbsp<a class='reset'
                                                  href='javascript:dealChart.filterAll();dc.redrawAll();' style='visibility: visible;'  >Reset to select all Deals</a>

                                           </div>
                                       </div>

                                    <div class="chart-wrapper hidden-sm hidden-lg hidden-md" data-step="7" >
                                           <div class="chart-title">
                                               Deal/Project Breakdown
                                           </div><br>
                                                    &nbsp &nbsp &nbsp &nbsp &nbsp<a class='reset'
                                                  href='javascript:dealChart_xs.filterAll();dc.redrawAll();' style='visibility: visible;'  >Reset to select all Deals</a>
                                           <div class="chart-stage">

                                               <div id="deal-chart_xs"></div>
                                                    &nbsp &nbsp &nbsp &nbsp<a class='reset'
                                                  href='javascript:dealChart_xs.filterAll();dc.redrawAll();' style='visibility: visible;'  >Reset to select all Deals</a>

                                           </div>
                                       </div>

                                    <!-- Category Pie -->


                                </div>
                            </div>
                        </div>
                    </div>


                 </div>
              </div>
            </div>
   </div>






    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/crossfilter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/d3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/dc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/queue.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/keen.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/keen.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/deals.js') }}"></script>

{% endblock %}